In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
context_all_lbl_v7 = pd.read_csv("Data/version_7/context_all_lbl_v7.csv")
context_all_lbl_v7

,Unnamed: 0,mid,pid,created,sent_by,language,text,urgency,db,label,lang,context_id,system_mid,system_text,system_pid,system_context,nurse_context
0,198,829,8,2017-12-08 06:07:58.480465,participant,english,Sorry for the late reply due to lack of lights...,3,PILOT,0,english,828,828.0,Great coming in for clinic You are taking go...,8.0,Sorry for the late reply due to lack of lights...,Sorry for the late reply due to lack of lights...
1,199,831,8,2017-12-08 06:55:38.583584,participant,english,Yes am workingonly that am okevery day am norm...,3,PILOT,0,english,828,828.0,Great coming in for clinic You are taking go...,8.0,Yes am workingonly that am okevery day am norm...,Yes am workingonly that am okevery day am norm...
2,200,834,8,2017-12-12 05:17:32.681152,participant,english,Yes of cost,3,PILOT,0,english,833,833.0,Breastfeeding a baby right after birth helps ...,8.0,Yes of cost Breastfeeding a baby right after ...,Yes of cost Breastfeeding a baby right after ...
3,201,835,8,2017-12-12 05:23:45.821591,participant,english,Am just warred when will I gave birth to ma ba...,3,PILOT,0,english,833,833.0,Breastfeeding a baby right after birth helps ...,8.0,Am just warred when will I gave birth to ma ba...,Am just warred when will I gave birth to ma ba...
4,202,838,8,2017-12-12 07:11:24.007393,participant,sheng;english;swahili,Yes for the last iattend on March 28nikamaliza...,3,PILOT,0,Code-Switched,833,833.0,Breastfeeding a baby right after birth helps ...,8.0,Yes for the last iattend on March 28nikamaliza...,Yes for the last iattend on March 28nikamaliza...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11124,65565,220273,4561,2022-01-31 10:07:47.335713,participant,swahili,Ok,5,R01,0,swahili,0,NaN,NaN,NaN,Ok,Ok
11125,65566,220327,4571,2022-02-01 07:50:11.477644,participant,english,THANK YOU.,5,R01,0,english,0,NaN,NaN,NaN,THANK YOU.,THANK YOU.
11126,65567,220355,4577,2022-02-01 08:45:25.483436,participant,luo,Ero kamano,5,R01,0,luo,220354,220354.0,Erokamano kuom donjo e nonro! De waher mondo i...,4577.0,Ero kamano Erokamano kuom donjo e nonro! De wa...,Ero kamano Erokamano kuom donjo e nonro! De wa...
11127,65569,220423,4582,2022-02-01 09:20:49.778038,participant,english,Thanks,5,R01,0,english,0,NaN,NaN,NaN,Thanks,Thanks
11128,65571,220480,4587,2022-02-01 13:06:42.986336,participant,english,Okay thanks,5,R01,0,english,220479,220479.0,Asante kwa kujiunga na huu utafiti. Tungependa...,4587.0,Okay thanks Asante kwa kujiunga na huu utafiti...,Okay thanks Asante kwa kujiunga na huu utafiti...

In [16]:
context_all_lbl_v7.urgency.value_counts()

5    4118
3    3054
2    1895
4    1574
1     488
Name: urgency, dtype: int64

In [17]:
context_all_lbl_v7['urgency'] = np.where( (context_all_lbl_v7.urgency == 1) | (context_all_lbl_v7.urgency == 2), 0,
                                         np.where( (context_all_lbl_v7.urgency == 3), 1, 
                                                 np.where( (context_all_lbl_v7.urgency == 4) | (context_all_lbl_v7.urgency == 5), 2, np.NaN)) ).astype('int64')

context_all_lbl_v7.urgency.value_counts()

2    5692
1    3054
0    2383
Name: urgency, dtype: int64

In [19]:
context_all_lbl_v7.lang.value_counts()

english          5646
swahili          3893
sheng             572
luo               566
Code-Switched     447
Name: lang, dtype: int64

In [20]:
#select specific variables
data_df = context_all_lbl_v7[["mid","pid","sent_by","lang","urgency", "text", "system_context", "nurse_context"]]
data_df

,mid,pid,sent_by,lang,urgency,text,system_context,nurse_context
0,829,8,participant,english,1,Sorry for the late reply due to lack of lights...,Sorry for the late reply due to lack of lights...,Sorry for the late reply due to lack of lights...
1,831,8,participant,english,1,Yes am workingonly that am okevery day am norm...,Yes am workingonly that am okevery day am norm...,Yes am workingonly that am okevery day am norm...
2,834,8,participant,english,1,Yes of cost,Yes of cost Breastfeeding a baby right after ...,Yes of cost Breastfeeding a baby right after ...
3,835,8,participant,english,1,Am just warred when will I gave birth to ma ba...,Am just warred when will I gave birth to ma ba...,Am just warred when will I gave birth to ma ba...
4,838,8,participant,Code-Switched,1,Yes for the last iattend on March 28nikamaliza...,Yes for the last iattend on March 28nikamaliza...,Yes for the last iattend on March 28nikamaliza...
...,...,...,...,...,...,...,...,...
11124,220273,4561,participant,swahili,2,Ok,Ok,Ok
11125,220327,4571,participant,english,2,THANK YOU.,THANK YOU.,THANK YOU.
11126,220355,4577,participant,luo,2,Ero kamano,Ero kamano Erokamano kuom donjo e nonro! De wa...,Ero kamano Erokamano kuom donjo e nonro! De wa...
11127,220423,4582,participant,english,2,Thanks,Thanks,Thanks
11128,220480,4587,participant,english,2,Okay thanks,Okay thanks Asante kwa kujiunga na huu utafiti...,Okay thanks Asante kwa kujiunga na huu utafiti...

In [21]:
#split train, test, dev datasets
train_df, remain_df = train_test_split(data_df, random_state=42, train_size=0.7, stratify=data_df.urgency.values)
test_df, dev_df = train_test_split(remain_df, random_state=42, train_size=0.7, stratify=remain_df.urgency.values)

In [22]:
train_df.shape, test_df.shape, dev_df.shape

((7790, 8), (2337, 8), (1002, 8))

In [23]:
train_df.urgency.value_counts(), test_df.urgency.value_counts(), dev_df.urgency.value_counts()

(2    3984
 1    2138
 0    1668
 Name: urgency, dtype: int64,
 2    1196
 1     641
 0     500
 Name: urgency, dtype: int64,
 2    512
 1    275
 0    215
 Name: urgency, dtype: int64)

In [24]:
#generate datasets now
#system context
system_train_df_v7 = train_df[["mid","pid","sent_by","lang","urgency","system_context"]]
system_train_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)
system_train_df_v7.to_csv("Experiment_44/input/system_train_df_v7.csv")
system_train_df_v7.to_csv("Experiment_45/input/system_train_df_v7.csv")

system_test_df_v7 = test_df[["mid","pid","sent_by","lang","urgency","system_context"]]
system_test_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)
system_test_df_v7.to_csv("Experiment_44/input/system_test_df_v7.csv")
system_test_df_v7.to_csv("Experiment_45/input/system_test_df_v7.csv")

system_dev_df_v7 = dev_df[["mid","pid","sent_by","lang","urgency","system_context"]]
system_dev_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)
system_dev_df_v7.to_csv("Experiment_44/input/system_dev_df_v7.csv")
system_dev_df_v7.to_csv("Experiment_45/input/system_dev_df_v7.csv")

C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\3735280916.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  system_train_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)
C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\3735280916.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  system_test_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)
C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\3735280916.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  system_dev_df_v7.rename(columns = {'system_context':'text', 'urgency':'label'}, inplace = True)

In [25]:
#nurse context
nurse_train_df_v7 = train_df[["mid","pid","sent_by","lang","urgency","nurse_context"]]
nurse_train_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)
nurse_train_df_v7.to_csv("Experiment_46/input/nurse_train_df_v7.csv")
nurse_train_df_v7.to_csv("Experiment_47/input/nurse_train_df_v7.csv")

nurse_test_df_v7 = test_df[["mid","pid","sent_by","lang","urgency","nurse_context"]]
nurse_test_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)
nurse_test_df_v7.to_csv("Experiment_46/input/nurse_test_df_v7.csv")
nurse_test_df_v7.to_csv("Experiment_47/input/nurse_test_df_v7.csv")

nurse_dev_df_v7 = dev_df[["mid","pid","sent_by","lang","urgency","nurse_context"]]
nurse_dev_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)
nurse_dev_df_v7.to_csv("Experiment_46/input/nurse_dev_df_v7.csv")
nurse_dev_df_v7.to_csv("Experiment_47/input/nurse_dev_df_v7.csv")

C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\174262276.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nurse_train_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)
C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\174262276.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nurse_test_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)
C:\Users\nngao\AppData\Local\Temp\ipykernel_11424\174262276.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nurse_dev_df_v7.rename(columns = {'nurse_context':'text', 'urgency':'label'}, inplace = True)

In [11]:
#Exp = {
       #"Exp40":"Experiment_40/input/system_dev_df_v7.csv",
       #"Exp40":"Experiment_40/input/system_test_df_v7.csv",
       #"Exp40":"Experiment_40/input/system_train_df_v7.csv",
       
       #"Exp41":"Experiment_41/input/system_dev_df_v7.csv",
       #"Exp41":"Experiment_41/input/system_test_df_v7.csv",
       #"Exp41":"Experiment_41/input/system_train_df_v7.csv",
       
       #"Exp42":"Experiment_42/input/nurse_dev_df_v7.csv",
       #"Exp42":"Experiment_42/input/nurse_test_df_v7.csv",
       #"Exp42":"Experiment_42/input/nurse_train_df_v7.csv",
       
       #"Exp43":"Experiment_43/input/nurse_dev_df_v7.csv",
       #"Exp43":"Experiment_43/input/nurse_test_df_v7.csv"
       #"Exp43":"Experiment_43/input/nurse_train_df_v7.csv"
#      }

#for exp, path in Exp.items():
    
#    data_df = pd.read_csv(path)
#    data_df = data_df.merge(multiclass_df, how="left", on="mid" )
#    data_df = data_df.drop(columns=['label'])
#    data_df = data_df.rename(columns={"urgency":'label'})
    #save the data file
#    data_df.to_csv(path)